<nav>
  <%= link_to "Home", root_path %>
  <%= link_to "Logout", destroy_user_session_path, method: :delete %>
</nav>

<main>
  <h1><%= current_user.first_name %>'s TBD</h1>
  <p>Here you can add everything you want to read, watch, and listen to.</p>
</main>
