<nav class="navbar navbar-expand-lg navbar-light bg-light py-1 px-5">
  <div class="container-fluid">
    <%= link_to "tbd.", root_path, class: "navbar-brand fw-bold text-primary" %>
    <% if user_signed_in? %>
      <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup"
          aria-expanded="false"
          aria-label="Toggle navigation"
          >
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav ms-auto">
          <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "nav-link" %>
        </div>
      </div>
    <% end %>
  </div>
</nav>
