<section>
  <h2>
    <%= format_type(item_type) %>
  </h2>

  <div>
    <% current_user.items.where(type: item_type).each do |item| %>
      <%= render "item", item: item %>
    <% end %>
  </div>
  <br />

  <div>
    <%= link_to "+ Add #{format_type(item_type).singularize}",
        [:new, current_user, item_type.underscore.to_sym] %>
  </div>
</section>
