<section>
  <h2>
    <% if item_type == "TvShow" %>
      <%= styled_type = "TV Shows" %>
    <% else %>
      <%= styled_type = item_type.titleize.pluralize %>
    <% end %>
  </h2>

  <div>
    <% current_user.items.where(type: item_type).each do |item| %>
      <%= render "item", item: item %>
    <% end %>
  </div>
  <br />

  <div>
    <%= link_to "+ Add #{styled_type.singularize}", [:new, current_user, item_type.underscore.to_sym] %>
  </div>
</section>
