<section>
  <h2>
    <%= format_type(item_type) %>
  </h2>
  <%= link_to "Show All", [current_user, item_type.underscore.pluralize.to_sym] %>

  <div>
    <% items.each do |item| %>
      <%= render "item", item: item %>
    <% end %>
  </div>
  <br />

  <div>
    <%= link_to "+ Add #{format_type(item_type).singularize}",
        [:new, current_user, item_type.underscore.to_sym] %>
  </div>
</section>
