<header class="mx-2 mx-md-5 px-3 mt-5">
  <h1 class="display-3 fw-bold text-primary"><%= current_user.first_name %>'s tbd</h1>
  <p class="mb-4">
    Here you can place everything that needs to be done.
  </p>
  <%= render "filters", url: "/" %>
</header>


<main class="mx-2 mx-md-5 px-3 mt-5">
  <% ["Book", "TvShow", "Movie", "Music"].each do |type| %>
    <%= render "item_section", items: @items.where(type: type), item_type: type %>
  <% end %>
</main>
