<header class="mx-2 mx-md-5 px-3 mt-5">
  <h1 class="display-3 fw-bold text-primary mb-4"><%= format_type(@type) %></h1>
  <%= render "filters", url: polymorphic_path([current_user, @type.underscore.pluralize.to_sym]) %>
</header>

<main class="mx-2 mx-md-5 px-3 mt-5">
  <div class="container-fluid px-0">
    <div class="row gx-3 gy-2">
      <div class="col-auto">
        <%= link_to "+ Add #{format_type(@type).singularize}",
          [:new, current_user, @type.underscore.to_sym],
          class: "card add-card link-primary h5 fw-normal" %>
      </div>

      <% @items.each do |item| %>
        <div class="col-auto">
          <%= render "item", item: item %>
        </div>
      <% end %>
    </div>
  </div>
</main>
