<nav>
  <%= link_to "Home", root_path %>
  <%= link_to "Logout", destroy_user_session_path, method: :delete %>
</nav>

<header>
  <h1><%= current_user.first_name %>'s tbd</h1>
  <p>Here you can place everything that needs to be done, including reading, watching, or listening to something.</p>
</header>

<main>
  <section>
    <h2>Books</h2>
    <div>
      <%= link_to "+ Add Item", root_path %>
    </div>
  </section>
  <section>
    <h2>TV Shows</h2>
    <div></div>
  </section>
  <section>
    <h2>Movies</h2>
    <div></div>
  </section>
  <section>
    <h2>Music</h2>
    <div></div>
  </section>
</main>
