.user-form {
  width: 70%;
  max-width: 450px;
}

.item-form {
  width: 70%;
  max-width: 450px;
}

.form-control {
  border-radius: 0;
  border-color: #C4C4C4;
  background-color: rgba(196, 196, 196, 0.1);

  &:focus {
    background-color: rgba(196, 196, 196, 0.1);
  }
}

.form-select {
  background-color: rgba(196, 196, 196, 0.1);
}
