.rating {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;

  > input {
    display: none;
  }

  > label {
    color: #DDD;

    &:before {
      margin: 0.25rem;
      font-size: 1.75rem;
      font-family: bootstrap-icons !important;
      content: "\f55d";
    }
  }
}

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { /* hover previous stars in list */
  color: $banana;

  &:before {
    content: "\f55b";
  }
}

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* darken current selection */
.rating > input:checked ~ label:hover ~ label {
  color: $tangerine;
}
